<h4>Manage Products - {{ myDate | date:"MM/dd/yyyy"}}</h4>
<form action="">
  Search <input [(ngModel)]="queryString" name="txtSearch">
</form>
<table class="table table-bordered">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
  </tr>
  <tr *ngIf="mgProducts.length == 0">
    <th colspan="4">No Products found.</th>
  </tr>
  <tr *ngFor="let product of mgProducts | filterData:queryString:'name'">
    <td>{{ product.id }}</td>
    <td>{{ product.name | uppercase }}</td>
    <td>{{ product.price | currency:"INR" }}</td>
    <td>{{ product.description }}</td>
  </tr>
</table>